<%layout("/layouts/boilerplate")%>
<h3>My Bookings</h3>

<% bookings.forEach(b => { %>
  <div class="card mb-3">
    <div class="card-body">
    <h5><%= b.car ? b.car.title : "Car not available" %></h5>
      <p><%= b.fromDate.toDateString() %> → <%= b.toDate.toDateString() %></p>
      <p>₹ <%= b.totalPrice %></p>
      <p>Status: <%= b.status %></p>
    </div>
  </div>
<% }) %>